@import 'https://www.absa.co.za/etc/designs/zg/absacoza/desktop/css.asset.css/core/design.grid-1440-12.grid.v0-0-1.0.css';
@import 'https://www.absa.co.za/etc/designs/zg/absacoza/desktop/css.asset.css/core/design.grid-1440-12.grid.v0-0-1.1.css';
@import 'https://www.absa.co.za/etc/designs/zg/absacoza/desktop/css.asset.css/core/design.grid-1440-12.grid.v0-0-1.2.css';
@import 'https://www.absa.co.za/etc/designs/zg/absacoza/desktop/css.asset.css/core/design.grid-1440-12.grid.v0-0-1.3.css';

@import 'https://www.absa.co.za/etc/designs/zg/absacoza/desktop/css.asset.css/core/design.grid-1440-12.grid.v0-0-1.0.css';
@import 'https://www.absa.co.za/etc/designs/zg/absacoza/desktop/css.asset.css/core/design.grid-1440-12.grid.v0-0-1.1.css';
@import 'https://www.absa.co.za/etc/designs/zg/absacoza/desktop/css.asset.css/core/design.grid-1440-12.grid.v0-0-1.2.css';
@import 'https://www.absa.co.za/etc/designs/zg/absacoza/desktop/css.asset.css/core/design.grid-1440-12.grid.v0-0-1.3.css';