
.header-banner{
    background: linear-gradient(125deg, #870a3c -7%, #640032 110%);
    margin: 0;
    width: 100%;
}
img.top-bank-logo{
    margin: 10px 10px;
    height: 100%;
    width: 60px;
}
.myapp-nav-menu li a{
    color: #FFFFFF !important;
}

.breadcrumbs .breadcrumbs-list li a:hover{
    color: #FFFFFF !important;
}

.myapp-nav-menu {
    color: #FFF;
}

.breadcrumbs .breadcrumbs-list li{
    margin-right: 0 !important;
    /* margin-left: 0 !important; */
    width: auto;
    padding-right: 0.3125rem !important;
}