<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<div class="toolbar" role="banner" class="header-banner">
  <div class="breadcrumbs component section default-style even" data-id="breadcrumbs_nav_link" data-name="breadcrumbs nav" data-text="breadcrumbs nav"> 
    <nav class="component-content"> 
      <ol class="breadcrumbs-list breadcrumbs-without-separator myapp-nav-menu"> 
        <li> <a routerLink="accounts" >Accounts</a> | </li> 
        <li> <a href="/accounts">Deposit</a> | </li> 
        <li> <a href="/accounts">Withdrawals</a> | </li> 
        <li> <a href="https://www.absa.co.za/personal/" target="_blank">Absa Home</a></li> 
      </ol> 
    </nav> 
   </div> 
  
  <div class="bank-logo">
      <a href="/" style="margin: 10px 10px 10px 10px;"> 
        <img class="top-bank-logo" src="https://www.absa.co.za/content/dam/south-africa/absa/Iconography/absa-logo-red.png" alt="Absa bank" title="absa logo">
      </a>
  </div>
 
</div>

<div class="content" role="main">
  
  <div class="box component section box-advertising-wrapper-moving-image box-flexbox-container wrap-reverse odd last alpha"> 
  
  <div class="component-content" id="0899077187"> 
    <div class="paragraphSystem content"> 
    <a id="01851617241" style="visibility:hidden" aria-hidden="true"></a> 
    <div class="richText component section richText-advertising-intro-text first odd grid_8 prefix_1 alpha" data-id="link_content_Personal" data-name="Personal | Advert | bank with the best in class" data-text="Personal | Advert | bank with the best in class"> 
      <div class="component-content"> 
      <div class="richText-content"> 
        <h4>Welcome to ACME Bank</h4> 
        <p>Below are a list of accounts, please note the account selection to the right of each account in which you can perform your account actions.</p> 
        <p><br> &nbsp;</p> 
      </div> 
      </div> 
    </div>  
    </div> 
  </div> 
  </div> 
  <!-- Footer -->

      <div class="box component section box-padded even"> 
        <div class="component-content" id="1551716569"> 
          <div class="paragraphSystem content"> 
            <a id="0348268221" style="visibility:hidden" aria-hidden="true"></a> 
            <div class="richText component section default-style first odd last alpha"> 
              <div class="component-content"> 
                <div class="richText-content"> 
                  <p style="text-align: center;">Absa Head Office: Absa Towers West, 15 Troye Street, Johannesburg, Gauteng, South Africa, 2000<br> &nbsp;</p> 
                  <p style="text-align: center;"><a href="https://www.absa.co.za/legal-and-compliance/terms-of-use/">Terms Of Use</a> | <a href="https://www.absa.co.za/about-us/absa-bank/corporate-information/">Banking Regulations</a> | <a href="https://www.absa.co.za/legal-and-compliance/privacy-statement/">Privacy Statement </a>&nbsp;| <a href="https://www.absa.co.za/self-service/safety-security/">Security Centre</a>&nbsp;|&nbsp;© Copyright. Absa Bank Limited, Registration number 1986/004794/06. All rights reserved |&nbsp;<a href="https://www.absa.co.za/about-us/absa-bank/corporate-information/">Authorised Financial Services Provider and a registered credit provider (NCRCP7)</a></p> 
                </div> 
              </div> 
            </div>
          </div>
        </div>
      </div>


</div>

<router-outlet></router-outlet>
